* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  background-image: radial-gradient(
    circle,
    #3a3b38,
    #2f3230,
    #262928,
    #1e2020,
    #161718
  );
}

/* ----------- ALUMNO ----------------- */
/* Aca debe colocar los estilos necesarios para generar el layout
 que se ve en la imagen*/
section  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
section div{
   border-radius : 5px;
   text-align: center;
   border:2px solid aqua;
}


 
.normal {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(92, 238, 48) 100%
  );
}
.agua{
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(188, 190, 22) 100%
  );
}


.fuego {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 129, 48, 1) 100%
  );
}
.electricidad {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 208, 44, 1) 100%
  );
}
.planta {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(122, 199, 76, 1) 100%
  );
}
.veneno {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(104, 40, 90) 100%
  );
}
.simon{
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(96, 57, 187) 100%
  );
}
.pedro{
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(28, 194, 36) 100%
  );
}
@media only screen and (max-width: 1000px) {
  section {
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, minmax(10px, 1fr));
    grid-template-areas:
      "uno"
      "dos"
      "tres"
      "cuatro"
      "cinco";
  }
}